@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Ubuntu&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Satisfy&family=Ubuntu&family=Varela+Round&display=swap');
body{
    margin:0;
    padding:0;
    width: 100vw;
    height: 100%;
    position:relative;
    background-color:rgb(227, 251, 190);
    background-image: linear-gradient( 110.1deg,  rgba(34,126,34,1) 2.9%, rgba(168,251,60,1) 90.3% );
    /* background-image: linear-gradient( 122.3deg,  rgba(111,71,133,1) 14.6%, rgba(232,129,166,1) 29.6%, rgba(237,237,183,1) 42.1%, rgba(244,166,215,1) 56.7%, rgba(154,219,232,1) 68.7%, rgba(238,226,159,1) 84.8% ); */
}
*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



nav{
    font-family:'Ubuntu',sans-serif;
    position:sticky;
    top: 0%;
    display: flexbox;
    width:auto;
    background-color: black;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 65px;
    background-color: black;
    color: white;
    font-weight: bold;
    width:100vw;
    margin-left: -7vh;
    width:auto;
    position:fixed;
    top:0;
}
nav ul li{
    padding: 2px 10px 2px 10px;
}
li:hover{
    color:yellowgreen;
    cursor: pointer;
    
}
.brand img{
    width: 80px;
    height: 65px;
    padding: 0px 5px 0px 5px;
    align-items: center;
    margin-left: -15px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 2rem;
}
#image0{
    height: fit-content;
}
.songlist{
    
    font-weight: bold;
    margin-left: 50px;
    margin-top: 10px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  
}
.songlist:hover{
    
  color: greenyellow;
  cursor: pointer;
}
.bottom{
    background-color: black;
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    height: 10vh;
    position:fixed;
    bottom:0;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.masterSongName{
    position:absolute;
    left:1vw;
}
.myName{
    position:absolute;
    right:0vw;
}
.icons{
    margin-top: 8px;
    margin-bottom: 2px;
    cursor: pointer;
    position: absolute;
    align-items: center;
}
.container{
    min-height: 70vh;
    box-sizing: border-box;
    /* background-color: rgb(172, 1, 1); */
    color: white;
    font-family:'Varela Round',sans-serif;
    display:flex;
    flex-direction:row-reverse;
    margin: 23px auto;
    width: 80%;
    border-radius: 100px;
    padding:10px 50px 51px 10px; 
    background-image:url('cover/bg-wall.jpg');
    background-repeat: no-repeat;
    background-size:35% 90%;
    background-color: black;
    background-position:right;
    justify-content: left; 
    position: relative;
    
}
.container loader{
    position:relative;
}
 .loader{
    position: absolute;
    display: flex;
    align-items: center;
    left: 60%;
    top: 50%;
 
}
.loader span{
    /* position: absolute; */
    top:1vh;
    width: 10%;
    height: 10%;
    transform: rotate(calc(36deg * var(--i)));

}
.loader span::before{
    
    content: ' ';
    position: absolute;
    top: 3cm;
    left: 0px;
    width: 12px;
    align-content: left;
    height:0;
    background: transparent;
    box-sizing: border-box;
    border: 7px solid rgb(188, 253, 10);
    border-radius: 100%;
   
    box-shadow: 0 0 5px yellowgreen,
    0 0 7px rgb(183, 226, 98),
    0 0 9px rgb(176, 238, 52),
    0 0 11px rgb(47, 68, 5),
    0 0 15px rgb(168, 251, 0),
    -30px -30px 0px blue,
    -30px -30px 20px rgb(131, 131, 246),
    30px 30px 0px blue,
    30px 30px 20px rgb(131, 131, 246),
    30px -30px 0px blue,
    30px -30px 20px rgb(131, 131, 246),
    -30px 30px 0px rgb(8, 228, 37),
    -30px 30px 20px rgb(52, 211, 105); 
    transform-origin:8px;
   animation-delay: calc(5s * var(--i));
    animation: animate 2s linear infinite;
    transition: 2s;
}
.loader:hover span::before{
    box-shadow:  -30px -30px 0px blue,
    -30px -200px 20px rgb(131, 131, 246),
    30px 200px 0px blue,
    30px 200px 20px rgb(131, 131, 246),
    30px -30px 0px blue,
    30px -30px 20px rgb(131, 131, 246),
    -30px 30px 0px rgb(8, 228, 37),
    -30px 30px 20px rgb(52, 211, 105);
    transform-origin: 250px; 
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        filter:hue-rotate(360deg) ;
    }
}

.container:hover{
    box-shadow: 0 0 5px yellowgreen,
    0 0 7px rgb(183, 226, 98),
    0 0 9px rgb(176, 238, 52),
    0 0 11px rgb(47, 68, 5),
    0 0 15px rgb(168, 251, 0);
}

.songitems{
    height: 5vh;
    min-height: fit-content;
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    margin:7px 28px 13px -2px;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #925ee6 0%, #FF6A88 55%, #f00d37 100%);
    color: black;
    border: rgb(1, 6, 17);
    border-radius: 150px;
    padding:20px 0px 10px 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing:border-box;
    
}
.songitems img{
    width: 3vw;
    margin: 2vw;
    padding: 12px 12px;
    border-radius: 40px;
    display: flex;
}
.songitems:hover{
    color: rgb(255, 255, 254);
    cursor: pointer;
    box-shadow: 0 0 10px blue,
    0 0 20px rgb(145, 145, 226),
    0 0 30px rgb(111, 111, 226),
    0 0 40px blue;
}
.timestamp{
    margin: 10px 23px 10px 30px;
    cursor: pointer;
}
#myProgressBar{
    width: 100vw;
    cursor: pointer;
    position: absolute;
    top:0vh;
}
#masterplay{
    margin: 0px 10px;
}
.songInfo{
    position: absolute;
    left:11vw;
    font-weight: bold;
   font-size: 2vw;
   font-family:'Bold 700',sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}
.myName{
    position: absolute;
    right: 10vw;
    bottom: 1vw;
    font-weight:bold;
    font-family: cursive;
    display:flexbox;
    background-color: cornsilk;
    border-radius: 2vw;
    color: black;
    font-size: 0.8vw;
}
.myName:hover{
    color: rgb(11, 1, 65);
    cursor: pointer;
    box-shadow: 0 0 5px yellow,
    0 0 10px yellowgreen,
    0 0 15px yellowgreen,
    0 0 20px rgb(162, 236, 14);
}
@media screen and (min-width : 480px) and (max-width:768px){
.main{
    width:380px;
    height: 600px;
    padding: 0;
    box-sizing: border-box;
}
.container,.songInfo,.songitems{
    display: flex;
    width: 180px;
    box-sizing: border-box;  
}
.myName,.songInfo{
    font-size:xx-small;

}
.nav{
    position: absolute;
}
.nav ul{
    width: 65vh;
    /* margin-left: -12vh; */
    position: fixed;
    top: 0;
    display: flex;
}
.myName{
    position: absolute;
    right:0vw;
}
.container{
    margin-top:3vh;
    padding:5px 25px  5px 25px;
}
.nav,.body{
    position: absolute;
    width: 100vw;
}
}
  
